build/*
test/build/*
test/a.out
a.out
*~

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing

# binaries
protobuf-decoder
protobuf-decoder_test

# other
.DS_Store