build/*
test/build/*
test/a.out
a.out
*~
*#*

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
Debug/*
Release/*
_CPack_Packages/*

# artifacts
protobuf-decoder
protobuf-decoder_test
*.app
*.zip
*.exe
*.dmg
*.deb

# other
.DS_Store